In [5]:
import pandas as pd
import pandas_profiling
import numpy as np
import seaborn as sns

trns_train = pd.read_csv('ieee-fraud-detection/train_transaction.csv', engine = 'python')

In [6]:
trns_train.head(3)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
trns_train.shape

(590540, 394)

In [8]:
trns_train.columns

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
       ...
       'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338',
       'V339'],
      dtype='object', length=394)

In [9]:
trns_train.isnull().sum()

TransactionID          0
isFraud                0
TransactionDT          0
TransactionAmt         0
ProductCD              0
                   ...
V335              508189
V336              508189
V337              508189
V338              508189
V339              508189
Length: 394, dtype: int64

In [10]:
trns_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB

In [11]:
trns_train.describe()

,TransactionID,isFraud,TransactionDT,TransactionAmt,card1,card2,card3,card5,addr1,addr2,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
count,5.905400e+05,590540.000000,5.905400e+05,590540.000000,590540.000000,581607.000000,588975.000000,586281.000000,524834.000000,524834.000000,...,82351.000000,82351.000000,82351.000000,82351.000000,82351.000000,82351.00000,82351.000000,82351.000000,82351.000000,82351.000000
mean,3.282270e+06,0.034990,7.372311e+06,135.027176,9898.734658,362.555488,153.194925,199.278897,290.733794,86.800630,...,0.775874,721.741883,1375.783644,1014.622782,9.807015,59.16455,28.530903,55.352422,151.160542,100.700882
std,1.704744e+05,0.183755,4.617224e+06,239.162522,4901.170153,157.793246,11.336444,41.244453,101.741072,2.690623,...,4.727971,6217.223583,11169.275702,7955.735482,243.861391,387.62948,274.576920,668.486833,1095.034387,814.946722
min,2.987000e+06,0.000000,8.640000e+04,0.251000,1000.000000,100.000000,100.000000,100.000000,100.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,3.134635e+06,0.000000,3.027058e+06,43.321000,6019.000000,214.000000,150.000000,166.000000,204.000000,87.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,3.282270e+06,0.000000,7.306528e+06,68.769000,9678.000000,361.000000,150.000000,226.000000,299.000000,87.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
75%,3.429904e+06,0.000000,1.124662e+07,125.000000,14184.000000,512.000000,150.000000,226.000000,330.000000,87.000000,...,0.000000,0.000000,25.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
max,3.577539e+06,1.000000,1.581113e+07,31937.391000,18396.000000,600.000000,231.000000,237.000000,540.000000,102.000000,...,55.000000,160000.000000,160000.000000,160000.000000,55125.000000,55125.00000,55125.000000,104060.000000,104060.000000,104060.000000

In [12]:
# convert the datatype 'object' to 'category'
clst = list(trns_train.select_dtypes(include = 'object').columns)

for c in clst:
    trns_train[c] = trns_train[c].astype('category')

In [13]:
trns_train.select_dtypes(include = 'category')

,ProductCD,card4,card6,P_emaildomain,R_emaildomain,M1,M2,M3,M4,M5,M6,M7,M8,M9
0,W,discover,credit,NaN,NaN,T,T,T,M2,F,T,NaN,NaN,NaN
1,W,mastercard,credit,gmail.com,NaN,NaN,NaN,NaN,M0,T,T,NaN,NaN,NaN
2,W,visa,debit,outlook.com,NaN,T,T,T,M0,F,F,F,F,F
3,W,mastercard,debit,yahoo.com,NaN,NaN,NaN,NaN,M0,T,F,NaN,NaN,NaN
4,H,mastercard,credit,gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,W,visa,debit,gmail.com,NaN,T,T,T,M1,F,T,NaN,NaN,NaN
6,W,visa,debit,yahoo.com,NaN,T,T,T,M0,F,F,T,T,T
7,W,visa,debit,mail.com,NaN,NaN,NaN,NaN,M0,F,F,NaN,NaN,NaN
8,H,visa,debit,anonymous.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,W,mastercard,debit,yahoo.com,NaN,T,T,T,M0,T,T,NaN,NaN,NaN
10,C,mastercard,credit,gmail.com,gmail.com,NaN,NaN,NaN,M0,NaN,NaN,NaN,NaN,NaN
11,C,mastercard,debit,hotmail.com,hotmail.com,NaN,NaN,NaN,M0,NaN,NaN,NaN,NaN,NaN
12,W,visa,debit,verizon.net,NaN,NaN,NaN,NaN,M1,F,F,NaN,NaN,NaN
13,W,visa,debit,aol.com,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN
14,W,visa,debit,yahoo.com,NaN,NaN,NaN,NaN,M0,F,F,NaN,NaN,NaN
15,W,visa,debit,NaN,NaN,T,T,F,NaN,NaN,F,F,F,T
16,H,visa,debit,aol.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,H,mastercard,credit,yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,W,visa,debit,gmail.com,NaN,T,T,F,NaN,NaN,F,F,T,T
19,W,visa,debit,gmail.com,NaN,NaN,NaN,NaN,M1,F,F,NaN,NaN,NaN
20,W,mastercard,debit,gmail.com,NaN,T,T,T,M0,F,F,F,F,T
21,W,mastercard,debit,gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN
22,H,visa,credit,gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,W,mastercard,debit,gmail.com,NaN,T,T,T,NaN,NaN,F,NaN,NaN,NaN
24,W,visa,debit,gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN
25,W,mastercard,debit,gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN
26,W,visa,debit,me.com,NaN,NaN,NaN,NaN,M0,F,T,NaN,NaN,NaN
27,W,visa,debit,yahoo.com,NaN,T,T,F,NaN,NaN,T,NaN,NaN,NaN
28,W,mastercard,debit,NaN,NaN,NaN,NaN,NaN,M1,T,F,NaN,NaN,NaN
29,W,visa,debit,gmail.com,NaN,NaN,NaN,NaN,M0,T,F,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590510,W,visa,debit,gmail.com,NaN,T,F,F,M0,T,F,F,F,F
590511,W,visa,debit,aol.com,NaN,T,T,T,NaN,NaN,F,F,F,T
590512,W,visa,credit,hotmail.com,NaN,T,T,T,M0,F,T,T,T,T
590513,W,visa,debit,yahoo.com,NaN,T,T,T,NaN,NaN,T,F,F,T
590514,W,visa,debit,comcast.net,NaN,T,F,F,NaN,NaN,F,F,F,F
590515,W,visa,debit,yahoo.com,NaN,T,T,T,M0,T,F,NaN,NaN,NaN
590516,W,visa,debit,gmail.com,NaN,T,T,T,NaN,NaN,T,NaN,NaN,NaN
590517,W,visa,credit,hotmail.com,NaN,T,T,T,M0,F,T,T,T,T
590518,W,visa,debit,gmail.com,NaN,T,T,F,M0,T,T,NaN,NaN,NaN
590519,W,mastercard,debit,aol.com,NaN,T,T,T,NaN,NaN,T,NaN,NaN,NaN
590520,W,visa,debit,yahoo.com,NaN,T,T,T,M0,F,T,F,T,T
590521,C,mastercard,debit,yahoo.fr,yahoo.fr,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
590522,W,visa,debit,gmail.com,NaN,T,T,T,M0,T,T,F,F,T
590523,W,mastercard,debit,gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN,NaN
590524,W,mastercard,debit,gmail.com,NaN,T,F,F,M1,T,T,F,F,F
590525,W,visa,debit,gmail.com,NaN,T,T,T,NaN,NaN,T,F,T,T
590526,R,visa,credit,gmail.com,gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590527,W,visa,debit,aol.com,NaN,T,F,F,NaN,NaN,T,NaN,NaN,NaN
590528,W,mastercard,credit,gmail.com,NaN,T,F,F,NaN,NaN,T,F,F,F
590529,C,mastercard,credit,gmail.com,gmail.com,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
590530,W,mastercard,credit,yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN,NaN
590531,R,visa,credit,gmail.com,anonymous.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590532,W,mastercard,debit,optonline.net,NaN,T,T,T,NaN,NaN,T,F,F,T
590533,W,visa,debit,gmail.com,NaN,T,T,T,NaN,NaN,F,F,F,T
590534,C,mastercard,debit,gmail.com,gmail.com,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
590535,W,visa,debit,NaN,NaN,T,T,T,M0,T,F,F,F,T
590536,W,mastercard,debit,gmail.com,NaN,T,F,F,M0,F,T,F,F,F
590537,W,mastercard,debit,gmail.com,NaN,T,F,F,NaN,NaN,T,NaN,NaN,NaN
590538,W,mastercard,debit,aol.com,NaN,T,T,T,M0,F,T,NaN,NaN,NaN
590539,W,mastercard,credit,gmail.com,NaN,T,F,F,NaN,NaN,T,F,F,F

In [14]:
trns_train.describe(include=['category'])

,ProductCD,card4,card6,P_emaildomain,R_emaildomain,M1,M2,M3,M4,M5,M6,M7,M8,M9
count,590540,588963,588969,496084,137291,319440,319440,319440,309096,240058,421180,244275,244288,244288
unique,5,4,4,59,60,2,2,2,3,2,2,2,2,2
top,W,visa,debit,gmail.com,gmail.com,T,T,T,M0,F,F,F,F,T
freq,439670,384767,439938,228355,57147,319415,285468,251731,196405,132491,227856,211374,155251,205656

In [36]:
trns_train.select_dtypes(exclude = 'category')[['isFraud', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14']].corr()

KeyError: "['C*'] not in index"

In [29]:
trns_fraud = trns_train[trns_train.isFraud == 0]
trns_fraud[trns_fraud.card1 == 13413]
#trns_fraud.groupby(['card1', 'TransactionAmt']).head(50)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
828,2987828,0,103881,64.649,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2141,2989141,0,143152,26.403,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2176,2989176,0,143599,26.403,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10660,2997660,0,325167,32.627,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,2997873,0,328489,24.772,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11280,2998280,0,334726,75.404,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12466,2999466,0,351605,68.456,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12952,2999952,0,361437,70.329,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13022,3000022,0,363973,28.699,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14301,3001301,0,408945,78.425,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17140,3004140,0,448257,141.638,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17146,3004146,0,448342,141.638,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17555,3004555,0,482172,64.770,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20290,3007290,0,520894,64.649,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26723,3013723,0,679049,18.368,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27344,3014344,0,687164,62.381,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28446,3015446,0,711086,211.746,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31135,3018135,0,771756,37.079,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32038,3019038,0,783947,30.316,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37892,3024892,0,937174,36.729,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39892,3026892,0,968561,23.203,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41496,3028496,0,1017018,60.690,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41620,3028620,0,1018400,41.918,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42235,3029235,0,1024866,179.098,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42848,3029848,0,1031964,64.130,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43889,3030889,0,1045284,77.306,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45075,3032075,0,1092778,41.976,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46589,3033589,0,1111747,20.352,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49876,3036876,0,1187890,3.323,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50155,3037155,0,1190976,130.592,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515875,3502875,0,13493410,39.839,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
515880,3502880,0,13493809,39.839,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
518596,3505596,0,13610805,39.839,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
518921,3505921,0,13623494,26.129,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
519676,3506676,0,13639884,50.660,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521401,3508401,0,13705165,52.258,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526228,3513228,0,13826656,52.381,C,13413,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527300,3514300,0,13877729,33.875,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527606,3514606,0,13884226,132.612,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528311,3515311,0,13898260,52.258,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528315,3515315,0,13898325,52.258,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528321,3515321,0,13898408,52.258,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528369,3515369,0,13899147,52.258,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533727,3520727,0,14062991,46.417,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544490,3531490,0,14355617,16.231,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550280,3537280,0,14523904,28.035,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
554075,3541075,0,14655500,19.735,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
558794,3545794,0,14785194,34.429,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
559624,3546624,0,14830967,40.577,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562559,3549559,0,14913953,47.094,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574493,3561493,0,15271367,6.332,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576141,3563141,0,15300519,8.976,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576875,3563875,0,15350061,75.006,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579575,3566575,0,15448884,63.201,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579675,3566675,0,15451543,28.281,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580273,3567273,0,15466153,33.814,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
582670,3569670,0,15558363,43.282,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585150,3572150,0,15640255,66.030,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585609,3572609,0,15653257,109.127,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
586156,3573156,0,15693041,71.232,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN